@import url("https://use.typekit.net/psy2lud.css");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*{
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    margin:0;
}
a{
    color: #000000;
}
a:hover{
    color: #EB3F48;
}

header{
    padding: 30px 0;
}

h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0px;
}

select, input[type=text],input[type=password]{
    border: 2px solid #000000;
    height: 30px;
    min-width: 140px;
}
.btn{
    color: #ffffff;
    padding: 10px 30px;
    background: #000000;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 40px;
    display: block;
}
.btn:hover{
    background: #EB3F48;
    color: #ffffff;
}

label{
    display: block;
    margin: 15px 0 8px 0;
}

section h1{margin-bottom: 40px;}

#logo a{
    color: #EB3F48;
}

.container{
    margin: 0 auto;
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
}

section{
    background-color: #eeeeee;
    padding: 70px 0;
    margin-bottom: 25px;
    box-sizing: border-box;
}

#logo{
    color:#EB3F48;
    font-family:"kinescope",sans-serif;
    font-size: 50px;
}
#menu{
    padding-top:20px;
    font-weight: 400;
    display: flex;
}
#menu a{
    text-decoration: none;
    font-size: 15px;
    padding-right:25px;
}
#menu .icons{
    margin-left: auto;
}
#menu .icons a{
    padding: 0 0 0 25px;
}

main{
    margin:0 60px;
}

#message{
    background-color:#EB3F48;
    height: 600px;
    align-items: center;
    background-image: url(../images/Home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}
.marketing{
    line-height: 90px;
    font-weight: 900;
    font-size: 40px;
    position: relative;
}
.slogan{
    position: relative;
    z-index: 2;
    padding-left: 28px;
    padding-top: 20px;
}
.mark_bg{
    height: 300px;
    width: 235px;
    background: #ffffff;
    position: absolute;
    z-index: 1;
    top: 0;
}

       
.light{font-weight: 300;}
#new_arrivals, #hot_offers, #most_popular{
    text-align: center;
}
#hot_offers{
    border: #EB3F48 5px solid;
}
#hot_offers h1{
    color: #EB3F48;
}
#hot_offers .btn {
    background-color: #EB3F48;
}
.more{
    color: #ffffff;
    padding: 10px 30px;
    background: #000000;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 40px;
}
.more:hover{
    background: #EB3F48;
    color: #ffffff;
}

.products{
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}
.prod_img{
    background: #ffffff;
    padding: 5px;
    position: relative;
    height: 230px;
}
.prod_img img{
    max-width: 100%;
    max-height: 100%;
}
.prod_item h3{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0 5px 0;
}
.price{
    text-align: left;
    font-size: 13px;
}
.prod_btns{
    padding: 15px;
    background: rgba(235, 63, 72, 0.7);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    visibility: hidden;
}

.prod_item:hover .prod_btns{
    visibility: visible;
}
.prod_btns button{
    cursor: pointer;
    border: 3px solid #000000;
    background: #000000;
    color: #ffffff;
    padding:6px 12px;
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
}
.prod_btns .add_cart{
    background: none;
    color: #000000;
}
.prod_btns button:hover{
    border-color: #ffffff;
    background: #ffffff;
    color: #EB3F48;
}


/******* product details ******/

#prod_view{
    background-color: #eeeeee;
    background-image: url(../images/prodview_bg.jpg);
    background-position:top center;
    background-repeat: no-repeat;
         
}
#prod_det{
    border-top: 10px solid #EB3F48;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px auto;
    margin-top: 50px;
}
#prod_det .wrapper {
    grid-template-columns: 50% 50%;
    margin-top: 0;
}
.content_left{
    grid-column-start:1;
    grid-column-end:2;
}
.content_right{
    grid-column-start:2;
    grid-column-end:3;
}
.cat_title{
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 82px 20px;
}
.cat_title h1{margin: 0}
.cat_filter{
    background: #ffffff;
    padding: 25px 20px 40px;
}

.price_txt{
    width: 40%;
}
.price_range{
    padding:0 5px;
}
.cat_filter select{
    width: 90%;
}
.sortby{
    padding: 160px 0 15px 0;
    text-align: right;
}
.sortby select{
    margin-left: 19px;
}


.social{
    position: fixed;
    top:47%;
    width: 40px;
    right: 0;
}
.social a img{
    margin:5px 0;
}

footer {
    text-align: center;
    padding: 30px 0 60px 0;
}
footer a{
    text-decoration:none;
    font-size: 15px;
    padding: 0 12px;
}

.product_title{
    background: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
}
.product_title h1{
    margin-bottom: 10px;
}
.product_title .price{
    color: #EB3F48;
    font-size: 22px;
}
.product_title .price span{
    font-size: 14px;
    padding-left: 3px;
}
.prod_spc{
    background: #ffffff;
    margin-bottom:10px;
    padding: 20px;
}

.buy_btn{
    text-align: right;
}
.buy_btn button{
    background: #EB3F48;
    border: none;
    padding: 14px 40px; 
    color: #ffffff;
    font-size: 12px;
    cursor: pointer
}

.product_image img{
    width: 100%;
}

.admin_pages{
    border-top: 10px solid #EB3F48;
}


@media only screen and (max-width: 1200px) {
    .social{
        position: static;
        width: auto;
        text-align: center;
    }
    .social a{padding: 0 5px;}
    main{margin: 0 15px;}
}

@media only screen and (max-width: 1050px) {
    .wrapper, #prod_det .wrapper{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .content_left{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #prod_det .content_left{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .content_right{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #prod_det .content_right{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .sortby{
        padding: 15px 0;}
    .cat_title {
        padding: 20px;
    }
}